@-webkit-keyframes swal-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes swal-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes swal-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes swal-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@-webkit-keyframes swal-animate-success-line-tip {
    0% {
        top: 1.1875em;
        left: .0625em;
        width: 0;
    }
    54% {
        top: 1.0625em;
        left: .125em;
        width: 0;
    }
    70% {
        top: 2.1875em;
        left: -.375em;
        width: 3.125em;
    }
    84% {
        top: 3em;
        left: 1.3125em;
        width: 1.0625em;
    }
    100% {
        top: 2.8125em;
        left: .875em;
        width: 1.5625em;
    }
}

@keyframes swal-animate-success-line-tip {
    0% {
        top: 1.1875em;
        left: .0625em;
        width: 0;
    }
    54% {
        top: 1.0625em;
        left: .125em;
        width: 0;
    }
    70% {
        top: 2.1875em;
        left: -.375em;
        width: 3.125em;
    }
    84% {
        top: 3em;
        left: 1.3125em;
        width: 1.0625em;
    }
    100% {
        top: 2.8125em;
        left: .875em;
        width: 1.5625em;
    }
}

@-webkit-keyframes swal-animate-success-line-long {
    0% {
        top: 3.375em;
        right: 2.875em;
        width: 0;
    }
    65% {
        top: 3.375em;
        right: 2.875em;
        width: 0;
    }
    84% {
        top: 2.1875em;
        right: 0;
        width: 3.4375em;
    }
    100% {
        top: 2.375em;
        right: .5em;
        width: 2.9375em;
    }
}

@keyframes swal-animate-success-line-long {
    0% {
        top: 3.375em;
        right: 2.875em;
        width: 0;
    }
    65% {
        top: 3.375em;
        right: 2.875em;
        width: 0;
    }
    84% {
        top: 2.1875em;
        right: 0;
        width: 3.4375em;
    }
    100% {
        top: 2.375em;
        right: .5em;
        width: 2.9375em;
    }
}

@-webkit-keyframes swal-rotate-success-circular-line {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    5% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    12% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
    }
    100% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
    }
}

@keyframes swal-rotate-success-circular-line {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    5% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    12% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
    }
    100% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
    }
}

@-webkit-keyframes swal-animate-error-x-mark {
    0% {
        margin-top: 1.625em;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
    50% {
        margin-top: 1.625em;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
    80% {
        margin-top: -.375em;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
    100% {
        margin-top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes swal-animate-error-x-mark {
    0% {
        margin-top: 1.625em;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
    50% {
        margin-top: 1.625em;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
    80% {
        margin-top: -.375em;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
    100% {
        margin-top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes swal-animate-error-icon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes swal-animate-error-icon {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

body.swal-toast-shown.swal-has-input > .swal-container > .swal-toast {
    flex-direction: column;
    align-items: stretch;
}

body.swal-toast-shown.swal-has-input > .swal-container > .swal-toast .swal-actions {
    flex: 1;
    align-self: stretch;
    justify-content: flex-end;
    height: 2.2em;
}

body.swal-toast-shown.swal-has-input > .swal-container > .swal-toast .swal-loading {
    justify-content: center;
}

body.swal-toast-shown.swal-has-input > .swal-container > .swal-toast .swal-input {
    height: 2em;
    margin: .3125em auto;
    font-size: 1em;
}

body.swal-toast-shown.swal-has-input > .swal-container > .swal-toast .swal-validationerror {
    font-size: 1em;
}

body.swal-toast-shown > .swal-container {
    position: fixed;
    background-color: transparent;
}

body.swal-toast-shown > .swal-container.swal-shown {
    background-color: transparent;
}

body.swal-toast-shown > .swal-container.swal-top {
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body.swal-toast-shown > .swal-container.swal-top-end,
body.swal-toast-shown > .swal-container.swal-top-right {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
}

body.swal-toast-shown > .swal-container.swal-top-start,
body.swal-toast-shown > .swal-container.swal-top-left {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
}

body.swal-toast-shown > .swal-container.swal-center-start,
body.swal-toast-shown > .swal-container.swal-center-left {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body.swal-toast-shown > .swal-container.swal-center {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body.swal-toast-shown > .swal-container.swal-center-end,
body.swal-toast-shown > .swal-container.swal-center-right {
    top: 50%;
    right: 0;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body.swal-toast-shown > .swal-container.swal-bottom-start,
body.swal-toast-shown > .swal-container.swal-bottom-left {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
}

body.swal-toast-shown > .swal-container.swal-bottom {
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body.swal-toast-shown > .swal-container.swal-bottom-end,
body.swal-toast-shown > .swal-container.swal-bottom-right {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
}

.swal-popup.swal-toast {
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0.625em;
    box-shadow: 0 0 0.625em #d9d9d9;
    overflow-y: hidden;
}

.swal-popup.swal-toast .swal-header {
    flex-direction: row;
}

.swal-popup.swal-toast .swal-title {
    justify-content: flex-start;
    font-size: 1em;
}

.swal-popup.swal-toast .swal-close {
    position: initial;
}

.swal-popup.swal-toast .swal-content {
    justify-content: flex-start;
    font-size: 1em;
}

.swal-popup.swal-toast .swal-icon {
    width: 2em;
    min-width: 2em;
    height: 2em;
    margin: 0;
}

.swal-popup.swal-toast .swal-icon-text {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}

.swal-popup.swal-toast .swal-icon.swal-success .swal-success-ring {
    width: 2em;
    height: 2em;
}

.swal-popup.swal-toast .swal-icon.swal-error [class^='swal-x-mark-line'] {
    top: .875em;
    width: 1.375em;
}

.swal-popup.swal-toast .swal-icon.swal-error [class^='swal-x-mark-line'][class$='left'] {
    left: .3125em;
}

.swal-popup.swal-toast .swal-icon.swal-error [class^='swal-x-mark-line'][class$='right'] {
    right: .3125em;
}

.swal-popup.swal-toast .swal-actions {
    height: auto;
    margin: 0 .3125em;
}

.swal-popup.swal-toast .swal-styled {
    margin: 0 .3125em;
    padding: .3125em .625em;
    font-size: 1em;
}

.swal-popup.swal-toast .swal-styled:focus {
    box-shadow: 0 0 0 0.0625em #fff, 0 0 0 0.125em rgba(50, 100, 150, 0.4);
}

.swal-popup.swal-toast .swal-success {
    border-color: #a5dc86;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-circular-line'] {
    position: absolute;
    width: 2em;
    height: 2.8125em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-circular-line'][class$='left'] {
    top: -.25em;
    left: -.9375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 2em 2em;
    transform-origin: 2em 2em;
    border-radius: 4em 0 0 4em;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-circular-line'][class$='right'] {
    top: -.25em;
    left: .9375em;
    -webkit-transform-origin: 0 2em;
    transform-origin: 0 2em;
    border-radius: 0 4em 4em 0;
}

.swal-popup.swal-toast .swal-success .swal-success-ring {
    width: 2em;
    height: 2em;
}

.swal-popup.swal-toast .swal-success .swal-success-fix {
    top: 0;
    left: .4375em;
    width: .4375em;
    height: 2.6875em;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-line'] {
    height: .3125em;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-line'][class$='tip'] {
    top: 1.125em;
    left: .1875em;
    width: .75em;
}

.swal-popup.swal-toast .swal-success [class^='swal-success-line'][class$='long'] {
    top: .9375em;
    right: .1875em;
    width: 1.375em;
}

.swal-popup.swal-toast.swal-show {
    -webkit-animation: showSweetToast .5s;
    animation: showSweetToast .5s;
}

.swal-popup.swal-toast.swal-hide {
    -webkit-animation: hideSweetToast .2s forwards;
    animation: hideSweetToast .2s forwards;
}

.swal-popup.swal-toast .swal-animate-success-icon .swal-success-line-tip {
    -webkit-animation: animate-toast-success-tip .75s;
    animation: animate-toast-success-tip .75s;
}

.swal-popup.swal-toast .swal-animate-success-icon .swal-success-line-long {
    -webkit-animation: animate-toast-success-long .75s;
    animation: animate-toast-success-long .75s;
}

@-webkit-keyframes showSweetToast {
    0% {
        -webkit-transform: translateY(-0.625em) rotateZ(2deg);
        transform: translateY(-0.625em) rotateZ(2deg);
        opacity: 0;
    }
    33% {
        -webkit-transform: translateY(0) rotateZ(-2deg);
        transform: translateY(0) rotateZ(-2deg);
        opacity: .5;
    }
    66% {
        -webkit-transform: translateY(0.3125em) rotateZ(2deg);
        transform: translateY(0.3125em) rotateZ(2deg);
        opacity: .7;
    }
    100% {
        -webkit-transform: translateY(0) rotateZ(0);
        transform: translateY(0) rotateZ(0);
        opacity: 1;
    }
}

@keyframes showSweetToast {
    0% {
        -webkit-transform: translateY(-0.625em) rotateZ(2deg);
        transform: translateY(-0.625em) rotateZ(2deg);
        opacity: 0;
    }
    33% {
        -webkit-transform: translateY(0) rotateZ(-2deg);
        transform: translateY(0) rotateZ(-2deg);
        opacity: .5;
    }
    66% {
        -webkit-transform: translateY(0.3125em) rotateZ(2deg);
        transform: translateY(0.3125em) rotateZ(2deg);
        opacity: .7;
    }
    100% {
        -webkit-transform: translateY(0) rotateZ(0);
        transform: translateY(0) rotateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes hideSweetToast {
    0% {
        opacity: 1;
    }
    33% {
        opacity: .5;
    }
    100% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
        opacity: 0;
    }
}

@keyframes hideSweetToast {
    0% {
        opacity: 1;
    }
    33% {
        opacity: .5;
    }
    100% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
        opacity: 0;
    }
}

@-webkit-keyframes animate-toast-success-tip {
    0% {
        top: .5625em;
        left: .0625em;
        width: 0;
    }
    54% {
        top: .125em;
        left: .125em;
        width: 0;
    }
    70% {
        top: .625em;
        left: -.25em;
        width: 1.625em;
    }
    84% {
        top: 1.0625em;
        left: .75em;
        width: .5em;
    }
    100% {
        top: 1.125em;
        left: .1875em;
        width: .75em;
    }
}

@keyframes animate-toast-success-tip {
    0% {
        top: .5625em;
        left: .0625em;
        width: 0;
    }
    54% {
        top: .125em;
        left: .125em;
        width: 0;
    }
    70% {
        top: .625em;
        left: -.25em;
        width: 1.625em;
    }
    84% {
        top: 1.0625em;
        left: .75em;
        width: .5em;
    }
    100% {
        top: 1.125em;
        left: .1875em;
        width: .75em;
    }
}

@-webkit-keyframes animate-toast-success-long {
    0% {
        top: 1.625em;
        right: 1.375em;
        width: 0;
    }
    65% {
        top: 1.25em;
        right: .9375em;
        width: 0;
    }
    84% {
        top: .9375em;
        right: 0;
        width: 1.125em;
    }
    100% {
        top: .9375em;
        right: .1875em;
        width: 1.375em;
    }
}

@keyframes animate-toast-success-long {
    0% {
        top: 1.625em;
        right: 1.375em;
        width: 0;
    }
    65% {
        top: 1.25em;
        right: .9375em;
        width: 0;
    }
    84% {
        top: .9375em;
        right: 0;
        width: 1.125em;
    }
    100% {
        top: .9375em;
        right: .1875em;
        width: 1.375em;
    }
}

body.swal-shown:not(.swal-no-backdrop):not(.swal-toast-shown) {
    overflow-y: hidden;
}

body.swal-height-auto {
    height: auto !important;
}

body.swal-no-backdrop .swal-shown {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: transparent;
}

body.swal-no-backdrop .swal-shown > .swal-modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

body.swal-no-backdrop .swal-shown.swal-top {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body.swal-no-backdrop .swal-shown.swal-top-start,
body.swal-no-backdrop .swal-shown.swal-top-left {
    top: 0;
    left: 0;
}

body.swal-no-backdrop .swal-shown.swal-top-end,
body.swal-no-backdrop .swal-shown.swal-top-right {
    top: 0;
    right: 0;
}

body.swal-no-backdrop .swal-shown.swal-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body.swal-no-backdrop .swal-shown.swal-center-start,
body.swal-no-backdrop .swal-shown.swal-center-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body.swal-no-backdrop .swal-shown.swal-center-end,
body.swal-no-backdrop .swal-shown.swal-center-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body.swal-no-backdrop .swal-shown.swal-bottom {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body.swal-no-backdrop .swal-shown.swal-bottom-start,
body.swal-no-backdrop .swal-shown.swal-bottom-left {
    bottom: 0;
    left: 0;
}

body.swal-no-backdrop .swal-shown.swal-bottom-end,
body.swal-no-backdrop .swal-shown.swal-bottom-right {
    right: 0;
    bottom: 0;
}

.swal-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 10px;
    background-color: transparent;
    z-index: 10000007;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.swal-container.swal-top {
    align-items: flex-start;
}

.swal-container.swal-top-start,
.swal-container.swal-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.swal-container.swal-top-end,
.swal-container.swal-top-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.swal-container.swal-center {
    align-items: center;
}

.swal-container.swal-center-start,
.swal-container.swal-center-left {
    align-items: center;
    justify-content: flex-start;
}

.swal-container.swal-center-end,
.swal-container.swal-center-right {
    align-items: center;
    justify-content: flex-end;
}

.swal-container.swal-bottom {
    align-items: flex-end;
}

.swal-container.swal-bottom-start,
.swal-container.swal-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}

.swal-container.swal-bottom-end,
.swal-container.swal-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.swal-container.swal-grow-fullscreen > .swal-modal {
    display: flex !important;
    flex: 1;
    align-self: stretch;
    justify-content: center;
}

.swal-container.swal-grow-row > .swal-modal {
    display: flex !important;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.swal-container.swal-grow-column {
    flex: 1;
    flex-direction: column;
}

.swal-container.swal-grow-column.swal-top,
.swal-container.swal-grow-column.swal-center,
.swal-container.swal-grow-column.swal-bottom {
    align-items: center;
}

.swal-container.swal-grow-column.swal-top-start,
.swal-container.swal-grow-column.swal-center-start,
.swal-container.swal-grow-column.swal-bottom-start,
.swal-container.swal-grow-column.swal-top-left,
.swal-container.swal-grow-column.swal-center-left,
.swal-container.swal-grow-column.swal-bottom-left {
    align-items: flex-start;
}

.swal-container.swal-grow-column.swal-top-end,
.swal-container.swal-grow-column.swal-center-end,
.swal-container.swal-grow-column.swal-bottom-end,
.swal-container.swal-grow-column.swal-top-right,
.swal-container.swal-grow-column.swal-center-right,
.swal-container.swal-grow-column.swal-bottom-right {
    align-items: flex-end;
}

.swal-container.swal-grow-column > .swal-modal {
    display: flex !important;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.swal-container:not(.swal-top):not(.swal-top-start):not(.swal-top-end):not(.swal-top-left):not(.swal-top-right):not(.swal-center-start):not(.swal-center-end):not(.swal-center-left):not(.swal-center-right):not(.swal-bottom):not(.swal-bottom-start):not(.swal-bottom-end):not(.swal-bottom-left):not(.swal-bottom-right) > .swal-modal {
    margin: auto;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .swal-container .swal-modal {
        margin: 0 !important;
    }
}

.swal-container.swal-fade {
    transition: background-color .1s;
}

.swal-container.swal-shown {
    background-color: rgba(0, 0, 0, 0.4);
}

.swal-popup {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
    max-width: 100%;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    padding-top: 3rem;
}

.swal-popup:focus {
    outline: none;
}

.swal-popup.swal-loading {
    overflow-y: hidden;
}

.swal-popup .swal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal-popup .swal-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.swal-popup .swal-actions {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;

    padding: 15px 2rem;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #E9EEF1;
}

.swal-popup .swal-actions:not(.swal-loading) .swal-styled[disabled] {
    opacity: .4;
}

.swal-popup .swal-actions:not(.swal-loading) .swal-styled:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.swal-popup .swal-actions:not(.swal-loading) .swal-styled:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.swal-popup .swal-actions.swal-loading .swal-styled.swal-confirm {
    width: 2.5em;
    height: 2.5em;
    margin: .46875em;
    padding: 0;
    border: .25em solid transparent;
    border-radius: 100%;
    border-color: transparent;
    background-color: transparent !important;
    color: transparent;
    cursor: default;
    box-sizing: border-box;
    -webkit-animation: swal-rotate-loading 1.5s linear 0s infinite normal;
    animation: swal-rotate-loading 1.5s linear 0s infinite normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swal-popup .swal-actions.swal-loading .swal-styled.swal-cancel {
    margin-right: 30px;
    margin-left: 30px;
}

.swal-popup .swal-actions.swal-loading:not(.swal-styled).swal-confirm::after {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border: 3px solid #999999;
    border-radius: 50%;
    border-right-color: transparent;
    box-shadow: 1px 1px 1px #fff;
    content: '';
    -webkit-animation: swal-rotate-loading 1.5s linear 0s infinite normal;
    animation: swal-rotate-loading 1.5s linear 0s infinite normal;
}

.swal-popup .swal-styled {
    margin: 0 .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}

.swal-popup .swal-styled:not([disabled]) {
    cursor: pointer;
}

.swal-popup .swal-styled.swal-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #3085d6;
    color: #fff;
    font-size: 1.0625em;
}

.swal-popup .swal-styled.swal-cancel {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 1.0625em;
}

.swal-popup .swal-styled:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, 0.4);
}

.swal-popup .swal-styled::-moz-focus-inner {
    border: 0;
}

.swal-popup .swal-footer {
    justify-content: center;
    margin: 1.25em 0 0;
    padding-top: 1em;
    border-top: 1px solid #eee;
    color: #545454;
    font-size: 1em;
}

.swal-popup .swal-image {
    max-width: 100%;
    margin: 1.25em auto;
}

.swal-popup .swal-close {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    transition: color 0.1s ease-out;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #cccccc;
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
}

.swal-popup .swal-close:hover {
    -webkit-transform: none;
    transform: none;
    color: #f27474;
}

.swal-popup > .swal-input,
.swal-popup > .swal-file,
.swal-popup > .swal-textarea,
.swal-popup > .swal-select,
.swal-popup > .swal-radio,
.swal-popup > .swal-checkbox {
    display: none;
}

.swal-popup .swal-content {
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    color: #545454;
    font-size: 1.125em;
    font-weight: 300;
    line-height: normal;
    word-wrap: break-word;
}

.swal-popup #swal-content {
    text-align: center;
}

.swal-popup .swal-input,
.swal-popup .swal-file,
.swal-popup .swal-textarea,
.swal-popup .swal-select,
.swal-popup .swal-radio,
.swal-popup .swal-checkbox {
    margin: 1em auto;
}

.swal-popup .swal-input,
.swal-popup .swal-file,
.swal-popup .swal-textarea {
    width: 100%;
    transition: border-color .3s, box-shadow .3s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    font-size: 1.125em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}

.swal-popup .swal-input.swal-inputerror,
.swal-popup .swal-file.swal-inputerror,
.swal-popup .swal-textarea.swal-inputerror {
    border-color: #f27474 !important;
    box-shadow: 0 0 2px #f27474 !important;
}

.swal-popup .swal-input:focus,
.swal-popup .swal-file:focus,
.swal-popup .swal-textarea:focus {
    border: 1px solid #b4dbed;
    outline: none;
    box-shadow: 0 0 3px #c4e6f5;
}

.swal-popup .swal-input::-webkit-input-placeholder,
.swal-popup .swal-file::-webkit-input-placeholder,
.swal-popup .swal-textarea::-webkit-input-placeholder {
    color: #cccccc;
}

.swal-popup .swal-input:-ms-input-placeholder,
.swal-popup .swal-file:-ms-input-placeholder,
.swal-popup .swal-textarea:-ms-input-placeholder {
    color: #cccccc;
}

.swal-popup .swal-input::-ms-input-placeholder,
.swal-popup .swal-file::-ms-input-placeholder,
.swal-popup .swal-textarea::-ms-input-placeholder {
    color: #cccccc;
}

.swal-popup .swal-input::placeholder,
.swal-popup .swal-file::placeholder,
.swal-popup .swal-textarea::placeholder {
    color: #cccccc;
}

.swal-popup .swal-range input {
    width: 80%;
}

.swal-popup .swal-range output {
    width: 20%;
    font-weight: 600;
    text-align: center;
}

.swal-popup .swal-range input,
.swal-popup .swal-range output {
    height: 2.625em;
    margin: 1em auto;
    padding: 0;
    font-size: 1.125em;
    line-height: 2.625em;
}

.swal-popup .swal-input {
    height: 2.625em;
    padding: 0.75em;
}

.swal-popup .swal-input[type='number'] {
    max-width: 10em;
}

.swal-popup .swal-file {
    font-size: 1.125em;
}

.swal-popup .swal-textarea {
    height: 6.75em;
    padding: 0.75em;
}

.swal-popup .swal-select {
    min-width: 50%;
    max-width: 100%;
    padding: .375em .625em;
    color: #545454;
    font-size: 1.125em;
}

.swal-popup .swal-radio,
.swal-popup .swal-checkbox {
    align-items: center;
    justify-content: center;
}

.swal-popup .swal-radio label,
.swal-popup .swal-checkbox label {
    margin: 0 .6em;
    font-size: 1.125em;
}

.swal-popup .swal-radio input,
.swal-popup .swal-checkbox input {
    margin: 0 .4em;
}

.swal-popup .swal-validationerror {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.625em;
    background: #f0f0f0;
    color: #666666;
    font-size: 1em;
    font-weight: 300;
    overflow: hidden;
}

.swal-popup .swal-validationerror::before {
    display: inline-block;
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    margin: 0 .625em;
    border-radius: 50%;
    background-color: #f27474;
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    content: '!';
    zoom: normal;
}

@supports (-ms-accelerator: true) {
    .swal-range input {
        width: 100% !important;
    }
    .swal-range output {
        display: none;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .swal-range input {
        width: 100% !important;
    }
    .swal-range output {
        display: none;
    }
}

@-moz-document url-prefix() {
    .swal-close:focus {
        outline: 2px solid rgba(50, 100, 150, 0.4);
    }
}

.swal-icon {
    position: relative;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: auto;
    border: .25em solid transparent;
    border-radius: 50%;
    line-height: 5em;
    cursor: default;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: normal;

    margin: 0 auto;
    margin-bottom: 2rem;
}

.swal-icon-text {
    font-size: 3.75em;
}

.swal-icon.swal-error {
    border-color: #f27474;
}

.swal-icon.swal-error .swal-x-mark {
    position: relative;
    flex-grow: 1;
}

.swal-icon.swal-error [class^='swal-x-mark-line'] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: .3125em;
    border-radius: .125em;
    background-color: #f27474;
}

.swal-icon.swal-error [class^='swal-x-mark-line'][class$='left'] {
    left: 1.0625em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.swal-icon.swal-error [class^='swal-x-mark-line'][class$='right'] {
    right: 1em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal-icon.swal-warning {
    border-color: #facea8;
    color: #f8bb86;
}

.swal-icon.swal-info {
    border-color: #9de0f6;
    color: #3fc3ee;
}

.swal-icon.swal-question {
    border-color: #c9dae1;
    color: #87adbd;
}

.swal-icon.swal-success {
    border-color: #a5dc86;
}

.swal-icon.swal-success [class^='swal-success-circular-line'] {
    position: absolute;
    width: 3.75em;
    height: 7.5em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
}

.swal-icon.swal-success [class^='swal-success-circular-line'][class$='left'] {
    top: -.4375em;
    left: -2.0635em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 3.75em 3.75em;
    transform-origin: 3.75em 3.75em;
    border-radius: 7.5em 0 0 7.5em;
}

.swal-icon.swal-success [class^='swal-success-circular-line'][class$='right'] {
    top: -.6875em;
    left: 1.875em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 3.75em;
    transform-origin: 0 3.75em;
    border-radius: 0 7.5em 7.5em 0;
}

.swal-icon.swal-success .swal-success-ring {
    position: absolute;
    top: -.25em;
    left: -.25em;
    width: 100%;
    height: 100%;
    border: 0.25em solid rgba(165, 220, 134, 0.3);
    border-radius: 50%;
    z-index: 2;
    box-sizing: content-box;
}

.swal-icon.swal-success .swal-success-fix {
    position: absolute;
    top: .5em;
    left: 1.625em;
    width: .4375em;
    height: 5.625em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1;
}

.swal-icon.swal-success [class^='swal-success-line'] {
    display: block;
    position: absolute;
    height: .3125em;
    border-radius: .125em;
    background-color: #a5dc86;
    z-index: 2;
}

.swal-icon.swal-success [class^='swal-success-line'][class$='tip'] {
    top: 2.875em;
    left: .875em;
    width: 1.5625em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.swal-icon.swal-success [class^='swal-success-line'][class$='long'] {
    top: 2.375em;
    right: .5em;
    width: 2.9375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal-progresssteps {
    align-items: center;
    margin: 0 0 1.25em;
    padding: 0;
    font-weight: 600;
}

.swal-progresssteps li {
    display: inline-block;
    position: relative;
}

.swal-progresssteps .swal-progresscircle {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background: #3085d6;
    color: #fff;
    line-height: 2em;
    text-align: center;
    z-index: 20;
}

.swal-progresssteps .swal-progresscircle:first-child {
    margin-left: 0;
}

.swal-progresssteps .swal-progresscircle:last-child {
    margin-right: 0;
}

.swal-progresssteps .swal-progresscircle.swal-activeprogressstep {
    background: #3085d6;
}

.swal-progresssteps .swal-progresscircle.swal-activeprogressstep ~ .swal-progresscircle {
    background: #add8e6;
}

.swal-progresssteps .swal-progresscircle.swal-activeprogressstep ~ .swal-progressline {
    background: #add8e6;
}

.swal-progresssteps .swal-progressline {
    width: 2.5em;
    height: .4em;
    margin: 0 -1px;
    background: #3085d6;
    z-index: 10;
}

[class^='swal'] {
    -webkit-tap-highlight-color: transparent;
}

.swal-show {
    -webkit-animation: swal-show 0.3s;
    animation: swal-show 0.3s;
}

.swal-show.swal-noanimation {
    -webkit-animation: none;
    animation: none;
}

.swal-hide {
    -webkit-animation: swal-hide 0.15s forwards;
    animation: swal-hide 0.15s forwards;
}

.swal-hide.swal-noanimation {
    -webkit-animation: none;
    animation: none;
}

[dir='rtl'] .swal-close {
    right: auto;
    left: 0;
}

.swal-animate-success-icon .swal-success-line-tip {
    -webkit-animation: swal-animate-success-line-tip 0.75s;
    animation: swal-animate-success-line-tip 0.75s;
}

.swal-animate-success-icon .swal-success-line-long {
    -webkit-animation: swal-animate-success-line-long 0.75s;
    animation: swal-animate-success-line-long 0.75s;
}

.swal-animate-success-icon .swal-success-circular-line-right {
    -webkit-animation: swal-rotate-success-circular-line 4.25s ease-in;
    animation: swal-rotate-success-circular-line 4.25s ease-in;
}

.swal-animate-error-icon {
    -webkit-animation: swal-animate-error-icon 0.5s;
    animation: swal-animate-error-icon 0.5s;
}

.swal-animate-error-icon .swal-x-mark {
    -webkit-animation: swal-animate-error-x-mark 0.5s;
    animation: swal-animate-error-x-mark 0.5s;
}

@-webkit-keyframes swal-rotate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes swal-rotate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}